nav {
    background-color: #1aa15e;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-bottom: 5px solid #ad6b1f;
    padding: 25px;
}
